<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
   
        {% include "_styles.html" %}
     
    </head>
    <body>
     {% include "_navigation.html" %}
       

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to StreamingBandit!</h1>
        <p>This is the homepage for the StreamingBandit server hosted by the N-th Iteration Lab. Solving (bandit) decision problems in data streams in production environment is challenging. With this Python module we are trying to develop a framework for streaming/online solutions to bandit problems which can be used to experiment with novel solutions in production environments.</p>
        <p><a class="btn btn-primary btn-lg" href="http://github.com/MKaptein/streamingbandit" role="button">Go get it from GitHub &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

        <div class="col-md-4">
          <h2>Setup</h2>
          <p>To setup an experiment is easy. Go to the management interface to get started right away.</p>
          <p><a class="btn btn-default" href="./management.html" role="button">Management &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2>API Reference</h2>
          <p>All of StreamingBandit is done as a REST api. Check out the API reference here.</p>
          <p><a class="btn btn-default" href="./reference.html" role="button">Reference &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2>MAB problems</h2>
          <p>StreamingBandit was created to test different solutions to multi-armed Bandit problems.</p>
          <p><a class="btn btn-default" href="http://www.nth-iteration.com" role="button">More &raquo;</a></p>
        </div>

      </div>

      <hr>

    <!-- END OF BODY -->
    {% include "_footer.html" %}

    </div>
    </body>
</html>
