<!DOCTYPE html>
<html>
<head>
<title>Welcome to StreamingBandit!</title>
<style>
p,li,h1{font-family: sans-serif}
</style>
</head>
<body>

<h1>Welcome</h1>
<p>Hi! Clearly, you have gotten an instance of StreamingBandit up and running! Nice.</p>
<p>However, StreamingBandit is a REST application and it does not have a nice UI; at least, not one that's included in the default git repository (which, in case you are wondering, can be found <a href="https://github.com/Nth-iteration-labs/streamingbandit">here</a>. Also, the streamingbandit <a href="https://hub.docker.com/r/nthiterationlabs/streamingbandit/">docker container</a>, in case that's what you used to get started, does not include a front end.</p>
<p>There are however a number of ways to get started: 
<ul>
	<li>If you just want to use the REST API itself, and interact with it using your own application or front-end, a good place to start is the <a href="http://nth-iteration-labs.github.io/streamingbandit/">documentation</a>. Here you will find descriptions of all the REST endpoints and a number of usage examples.</li>
	<li>If you want to use a convenient front-end, please check out our <a href="https://github.com/Nth-iteration-labs/streamingbandit-ui">front-end repository</a>. The README on github should be enough to get you started and hence proceed using StreamingBandit but now with a nice UI, buttons, and all that. You can also get the front end up and running by using its <a href="https://hub.docker.com/r/nthiterationlabs/streamingbandit-ui/">docker container</a>.</li>
</ul>
</p>
<p>If you are wondering what this software is good for (which, admittedly, is a bit late after you got it up and running) we recommend you start by reading <a href="">https://arxiv.org/abs/1602.06700/<a>.</p>
<p>In case you have any quesitons please do contact us by sending an email to <a href="mailto:m.c.kaptein@uvt.nl">m.c.kaptein@uvt.nl</a>. If you find any issues, bugs, or have feature requests, than please use our <a href="https://github.com/Nth-iteration-labs/streamingbandit">github page</a>.

</body>
</html>