<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include "_styles.html" %}

</head>


<body>
 {% include "_navigation.html" %}
 
 <!-- Main jumbotron for a primary marketing message or call to action -->
 <div class="jumbotron">
  <div class="container">
    <h1>Manage your experiments</h1>
    <p>On this page you can view the experiments on this server and create new experiments</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
   <h2>All currently active experiments:</h2>
   <table class="table table-striped" id="ExperimentsList">
    <thead>
      <tr>
        <th>#</th>
        <th width=65%>Name</th>
        <th>Key</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<hr>


<!-- FORM FIELDS NEEDED TO CREATE AN EXPERIMENT -->
<div class="row">
 <h2>Create or edit an experiment</h2>
 <form name="CreateExpForm">
  <div class="form-group">
    <label for="InputExpName">Name of the experiment:</label>
    <input type="text" class="form-control" id="nameOfExperiment"></input></p>
  </div>
  <div class="form-group">
    <label>The getAdvice() code: <span id="TestGetAdvice"></span></label>
    <textarea class="form-control" id="getAdviceText" rows=2></textarea>
  </div>
  <div class="form-group">
    <label>The setReward() code: <span id="TestSetReward"></span></label>
    <textarea class="form-control" id="setRewardText" rows=3></textarea>
  </div>
  <div class="form-group">
    <input id="hourlyTheta" name="hourlyTheta" value="hourly" type="checkbox"/>Log theta hourly.</br>
  </div>
  <div class="form-group">
    <a class="btn btn-default" id="CreateButton" role="button">Create new experiment!</a>
    <a class="btn btn-default" id="EditButton" role="button">Save changes!</a>
  </div>
</form>
</div>

<hr>

<div class="row">
  <h2>Load default experiments</h2>
  <p>StreamingBandit ships with a number of default experiments implemented. Click on their name to load them.</p>
  <div id="DefaultList">
  </div>
</div>

<hr>

<div class="row">
  <h2>Import Libraries</h2>
  <p>StreamingBandit can use a number of externally developed libraries. Some are shipped in the default package, but you can easily install new ones.</p>
</div>
<!-- END CREATE FORM FIELDS -->

<hr>

<!-- END OF BODY -->

{% include "_footer.html" %}
</div> <!-- /container -->


<script src="../static/dest/js/vendors.js" ></script>
<script src="../static/dest/js/admin.js"></script>
</body>
</html>

